<h1> Your inquiry is complete! </ h1>

<h4>Name: <%= @user.name %></h4>
<h4>Email: <%= @user.email %></h4>

<h4> Confirmation of inquiry content </ h4>

<p>content: <%= @blog.content %></p>
<p>Image: <%= image_tag(@blog.image.url(:thumb)) %></p>