<br><div class="row">
<div class="col col-12 col-sm-6 col-md-6"><%= image_tag("blog.jpg", class: "img-fluid")%></div>
<div class="col col-12 col-sm-6 col-md-6">
    <h1>Description</h1>
    <div class="desc">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
    </div>
</div>
</div>
<div style="text-align:center">
      <%= link_to blogs_path , class: 'btn btn-success btn-list', style:'width:200px' do%>
          <i class="glyphicon glyphicon-list"></i> View list of blog
      <% end %>
  </div>