<div style="text-align:center;margin-top:100px">
    <h1><%= @user.name %>'s page</h1>

    <p><b></b>Email address: </b><%= @user.email %></p>
</div>
<% @blog.each do |b| %>
<% if @favorite.present? %>
      <%= link_to 'Cancel favorites', favorite_path(blog_id: @blog.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'To favorite', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
<% end %>
<% end %>